
html, body {
    margin-top: 25px;
    height: 100%;
    scroll-behavior:  smooth;
    
}
.background {
    position: relative;
}
h1 {
    font-family: 'Domine', serif;
    color:  white;
}
.display-4 {
font-size: 53px;
position: absolute;
top: 155px;
left: 482px;
}
p {
    font-family: 'Carter One', cursive;
    background-color: yellow;
    margin-top: 48px;
    width: 125px;
    margin-left: 35px;
    
   
    margin-bottom: 10px;
}
#buttons-view {
    margin-top: 35px;
    margin-left: 20px;
}
/* add Marvel Character text */
#marvel-form {
    color: #ffff00;
    font-size: 18.4px;
    /* margin-left: 15px; */
    position: absolute;
    top: 221px;
    left: 482px;
    display: flex;
}
#add-marvelCharc {
    float: right;
    margin-left: 10px;
}
.marvel { /* marvel character button */
    margin: 4px;
    color: white;
    font-size: 18px;
    font-family: 'Karla', sans-serif;
    background-color: black;
    border-color: gray;
    opacity: 1;
    
}
/* white input form */
#marvel-input {
    margin-left: 10px;
    width: 180px;
}

.gif {
    display: grid;
    display: inline-block;
    grid-gap: 10px;
    clear: both;
    grid-auto-columns: column; 

}
.pop {
    background-image: url("../images/pop.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    

}
.gif img {
    height: 185px;
    width: auto;
}
.container {
    margin-left: 0px;
    margin-bottom: 0px;
}
.row {
    border-top: 17px solid rgb(17, 17, 17);
    border-bottom: 17px solid rgb(17, 17, 17);
    margin-top: 229px;
    width: 1480px;
    height: 530px;
    background: url("../images/vintagemarvel.jpg") center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header {
    padding-bottom:144px;
}
img {
margin-left: 34px;
}
#secondlogo {
    margin-left:390px;
}
#logo {
    margin-left: 70px;
    border-bottom: 4px solid black;
    border-bottom-style: ridge;
    padding:5px;
}
#footerLogo {
    margin-left: 70px;
    margin-top: 30px;
    padding: 5px;
}
.content {
    min-height: 35%;

  }
    .content-inside {  
    padding: 20px;
    padding-bottom: 30px;
  }
    .footer {
    height: 30px;
    border-top: 8px solid black;;
    padding: 20px;
    text-align: center;
    font-size: 13px;
    clear: both;
    
  }
  #deadimg {
    position: absolute;
    top: 684px;
    left: 770px;
    } 
  h4 {
      margin-left:40px;
      padding-top: 30px;
  }
  li {
      float: right;
      margin-right: 280px;
      list-style: none;
      color: gainsboro;
      margin-top: 30px;
  }
  a {
      color: gainsboro;
  }
  a:hover {
      color: gray;
      text-decoration: none;
  }
  #resources {
      
font-size: 17px;
display: inline-block;

  }
  span {
      font-size: 13px;
      
  }
  #description {
      margin-top: 8px;
      margin-left: 73px;
      width: 200px;
  }
  