
html, body {
    margin-top: 40px;
    width: 720px;
    padding-left: 4rem;
    height: 100%;
    background: url("../images/vintagemarvel.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
h1 {
    font-family: 'Domine', serif;
    font-size: 24px;
    color: white;

}
p {
    background-color: white;
    margin-top: 7px;
    width:200px;
}
.gifs-div {
    display: inline-block;
}
.marvel { /* marvel character button */
    margin: 4px;
    color: white;
    font-size: 18px;
    font-family: 'Karla', sans-serif;
    background-color: black;
    opacity: 0.8;
}
#add-marvelCharc {
    
    float: right;
    margin: 0 auto;
}

